<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: : 600px;
    font-size: 18px;
    line-height: 21px;
  }
</style>

<div class="message-content">
  <p>Olá, {{name}}</p>

  <p>O seu token para recuperação de senha é:</p>
  <p>{{token}}</p>
  <p>Caso não tenha solicitado o token para recuperação de senha, ignore esse email.</p>
  <p>
    Atenciosamente,
    <strong>Poli Júnior</strong>
  </p>
</div>
